/* .head1{
    color:aqua;
    top:100px;
    left: 100px;
    position: relative;
}

#head2{
    color:aqua;
    top:500px;
    left: 500px;
    position: absolute;
} */

.next-div{
    background-color: orange;
    color: whitesmoke;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 100vh;
    width: 100vw;
}

.comet{
    padding: 100px;
    margin: 100px;
    background-color: red;
    color: whitesmoke;
    position: relative;
    height: 100px;
    width: 100px;
    border: 10px solid violet; 
    border-radius: 10%;
}


}
}